data/*
!data/.gitkeep
config/.secrets
config/*.json
!backend_config.json
!backend_config.container.json
compose.*
!compose.review.yml
.env.*
!.env
.vscode 
.venv
rdm-review-dashboard-backend/.git
rdm-review-dashboard-ui/.git
__pycache__
config/automations/autochecks.json