.issue-item {
  padding: 18px;
  padding-top: 28px;
  padding-bottom: 28px;

  color: rgb(51, 65, 85); // rgb(100, 116, 139);

}
.dataset-link {
  color: #1d4ed8;
  text-decoration: underline;
  cursor: pointer;
}
